:root {
  --primary-color: #f77d2b;
  --secondary-color: #fcb01e;
  --tertiary-color: #e04d1b;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.75;
}

.navbar-background {
  background-color: var(--secondary-color);
}

#navbar-logo {
  max-width: 36px;
}

.nav-link {
  color: var(--tertiary-color);
}

.about-paragraphs p {
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: left;
}

.content {
  margin: 60px auto;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.col-6 {
  text-align: center;
  margin: 30px auto;
}

.container p {
  text-align: left;
  margin-top: 20px;
}

#image-fika {
  max-width: 75%;
}

.btn-primary {
  background-color: var(--tertiary-color);
  border: var(--tertiary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.about-content {
  margin-top: 50px;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

#contact {
  margin-top: 100px;
  margin-bottom: 100px;
}
